
<div class="container">
    <h1>CSS City</h1>
    <div class="city-wrapper">
      <div class="wrapper">
        <div class="house-wrapper">
          <div class="house1">
            <div class="house1-roof"></div>
            <div class="window-wrap">
              <div class="house1-window"></div>
              <div class="house1-window"></div>
              <div class="house1-window"></div>
              <div class="house1-window"></div>
            </div>
            <div class="house1-center">
              <div class="house1-center-roof"></div>
              <div class="window-wrap">
                <div class="house1-window window-center"></div>
                <div class="house1-center-door"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tree-wrapper">
          <div class="tree">
            <div class="base"></div>
          </div>
        </div>
        <div class="building-wrapper">
          <div class="building building1">
            <div class="window-wrap">
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-door"></div>
            </div>
          </div>
        </div>
        <div class="building-wrapper">
          <div class="building building2">
            <div class="window-wrap">
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-door"></div>
            </div>
          </div>
        </div>
        <div class="tree-wrapper">
          <div class="tree">
            <div class="base"></div>
          </div>
        </div>
        <div class="tree-wrapper">
          <div class="tree">
            <div class="base"></div>
          </div>
        </div>
        <div class="house-wrapper">
          <div class="house2">
            <div class="house2-main">
              <div class="house2-main-roof"></div>
              <div class="house2-main-window"></div>
            </div>
            <div class="house2-base">
              <div class="house2-base-roof"></div>
              <div class="window-wrap">
                <div class="house2-window"></div>
                <div class="house2-window"></div>
                <div class="house2-window"></div>
                <div class="house2-window"></div>
              </div>
            </div>
            <div class="house2-door"></div>
          </div>
        </div>
        <div class="building-wrapper">
          <div class="building building2 building3">
            <div class="window-wrap">
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-window"></div>
              <div class="building-door"></div>
            </div>
          </div>
        </div>
        <div class="tree-wrapper">
          <div class="tree">
            <div class="base"></div>
          </div>
        </div>
        <div class="house-wrapper">
          <div class="house1 house1a">
            <div class="house1-roof"></div>
            <div class="window-wrap">
              <div class="house1-window"></div>
              <div class="house1-window"></div>
              <div class="house1-window"></div>
              <div class="house1-window"></div>
            </div>
            <div class="house1-center">
              <div class="house1-center-roof"></div>
              <div class="window-wrap">
                <div class="house1-window window-center"></div>
                <div class="house1-center-door"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>